/* Header */
header {
  color: #ffff;
  height: 4rem;
  padding: 0px 25px;
  line-height: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

nav {
  height: 100%;
  vertical-align: top;
  line-height: 4rem;
  float: right;
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
}

nav ul li {
  display: flex;
  position: relative;
  height: 100%;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
  padding: 0px 10px;
}

nav ul li:hover {
  background-color: rgba(51, 25, 60, 0.5);
}

footer {
  color: #ffff;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  right: 5px;
  left: 0;
  bottom: 0;
  height: 2rem;
}

footer a {
  color: #ffff;
}

.icon {
  color: white;
  position: absolute;
}

/* .header-relative { */
/* position: relative; */
/* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), */
/* url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=dawn-dusk-hd-wallpaper-36717.jpg&fm=jpg); */
/* background-size: cover; */
/* background-repeat: none; */
/* background-position: top; */
/* } */

.project {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  color: white;
  align-content: center;
  justify-content: center;
  width: 50%;
  margin: 10px;
  max-width: 440px;
}

.project h3 {
  padding: 10px 20px;
}

section div h3 a {
  color: white;
}
