/* Splash */
#splash {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=dawn-dusk-hd-wallpaper-36717.jpg&fm=jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#splash h2 {
  color: #ffff;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 1.6rem;
}

.headinfo {
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
}

#intro {
  margin: 5px;
  top: 0;
}

ul {
  margin-top: 0;
}

/* #splash .overlay { */
/* position: absolute; */
/* left: 0px; */
/* right: 0px; */
/* bottom: 0px; */
/* top: 0px; */
/* background-color: rgba(0,0,0,0.3); */
/* } */
