/* Splash */
#splash { 
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=dawn-dusk-hd-wallpaper-36717.jpg&fm=jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

#splash h2 {
    color: #FFFF;
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    transform: translateY(50vh);
    font-size: 1.6rem;
}

/* #splash .overlay { */
    /* position: absolute; */
    /* left: 0px; */
    /* right: 0px; */
    /* bottom: 0px; */
    /* top: 0px; */
    /* background-color: rgba(0,0,0,0.3); */
/* } */